.player_container
{
    width: 80%;
    padding: 1rem;
    border: 2px solid rgb(230, 230, 230);
    border-radius: 40px;
    box-shadow: 5px 5px #00000062;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    margin-top: auto;
    font-family: 'Crete Round', serif;

    >*
    {
        padding: 1rem 0;
        color: rgb(202, 202, 202);
    }

    .title{
        font-size: 5.5vw;
    }
    .navigation{
        width: 100%;


        .navigation_wrapper
        {
            min-width: 100%;
            background-color: rgba(119, 119, 119, 0.781);
            height: 5px;
            border-radius: 30px;
            cursor: pointer;
            
            .seek_bar{
                width: 0;
                height: 100%;
                background-color: rgb(24, 128, 3);
                border-radius: 30px;
            }

        }
    }
    .controls{
        font-size: inherit;
        display: flex;
        align-items: center;

        .btn_action
        {
            font-size: 3rem;
            margin: 0 1rem;
            cursor: pointer;

            &:hover{
            color: white;
        }

        }
        
        .pp
        {
            font-size: 5rem;
            
        }
        
    }

.linktext {
    font-family: 'Rubik', sans-serif;
    font-size: 3.5vh;
    margin-top: 10px;
    color: #ffffff;
    text-shadow: 3px 3px #424242;
}

.buybutton {
    background-color: #db8400;
    font-size: 4vw;
    border-width: 5px;
    padding: 30px;
    border-style: double;
    border-color: #ffffff;
    border-radius: 20px;
    font-family: 'Rubik', sans-serif;
    color: #ffffff;
}

.Button {
    min-width: 20vw;
}

.transactionBtn {
    padding: 20px;
    border-radius: 20px;
    font-size: 3vw;
    background-color: #db8400;
    border-width: 5px;
    border-style: double;
    border-color: #ffffff;
    border-radius: 20px;
    font-family: 'Rubik', sans-serif;
    color: #ffffff;
    text-shadow: 2px 2px #000000;
}

.Warning {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 2vw;
}

.clicked {
    position: absolute;
    width: 95%;
    height: 100%;
    top: 0;
    background-color: black;
    justify-content: center;
    align-items: center;
    opacity: 70%;
    pointer-events: none;
    z-index: 3;
}

.success {
    text-shadow: 0px 0px #000000;
}

}